@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 25% 95%;
    --foreground: 210 4% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 4% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 4% 16%;
    --primary: 172 100% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 92.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 172 100% 33%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 206 25% 10%;
    --foreground: 0 0% 95%;
    --card: 206 25% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 206 25% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 172 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 16.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 16.1%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 210 40% 20.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 21.4%;
    --input: 214.3 31.8% 21.4%;
    --ring: 172 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
